// _credential.scss

.m-top-0 {
  margin-top: 0 !important;
}

.big-wrap {
//  background: $flexi;
  background: #97a3e8;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#welcome {
  letter-spacing: 8px;
  color: #fff;
  font-size: 1.5em;
  font-weight: 300 !important;
  line-height: 130%;
}

.round-btn {

  img {
    width: 23vh;
    opacity: .9;
  }
}

#btn-container {
  width: 100vw;
  display: flex;
  justify-content: space-around;

  .light-white-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5%;
    border: 2px solid #fff;
    border-radius: 30px;
    min-width: 40vw;
    height: 6vh;
    opacity: .9;

    a {
      text-decoration: none;
      color: #fff;
      font-style: none;
    }
  }
}

.btn-hidden{
  opacity: 0 !important;
}
.btn-show{
  opacity: .8 !important;
}

#who {
opacity: 0;
}
