<!-- Dynamic Head Title -->
<% provide(:title, 'Students') %>

<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<%= link_to "<< Back", lessons_path, class:"btn btn-primary"  %> <br> <br>

<% @students.each do |student| %>
  <li> <%= link_to student.last_name.capitalize, student_path(student)  %> <br>
  @Email: <%= student.email %> </li>
  <br> <br>
<% end %>
