<!-- _footer.html.erb -->

<footer>
  <p>
    <%= link_to url_for(:back) do %>
      <!-- <i class="fas fa-angle-double-left"></i> -->
      <i class="far fa-arrow-alt-circle-left"></i>
    <% end %>
  </p>
  <p>
    <i class="fas fa-question"></i>
  </p>
  <p>
    <i class="far fa-comments"></i>
  </p>
  <p>
    <i class="far fa-list-alt"></i>
  </p>
</footer>
