<!-- _footer.html.erb -->

<footer>
  <p>
    <%= link_to url_for(:back) do %>
      <!-- <i class="fas fa-angle-double-left"></i> -->
      <i class="far fa-arrow-alt-circle-left"></i>
    <% end %>
  </p>
  <p>
    B
  </p>
  <p>
    C
  </p>
  <p>
    D
  </p>
</footer>
