<!-- PAGES documents.html.erb -->

<div id="documents-wrapper" class="text-center">

<!-- TUTOR Q U A L I F I C A T I O N S ---------------------------------------->
    <div id="certificate">
      <div class="small-title">
        <i class="fas fa-award small-icon"></i>
        <p>CERTIFICATE</p>
        <i class="fas fa-award small-icon"></i>
      </div>
    </div>

    <h3 class="name">
      Trigonometry Degree
    </h3>

    <h4 class="institute">
      <i class="far fa-building"></i>
      University of Cambridge
    </h4>


    <p class="achieved">
      2003
    </p>

    <p class="years">
      Experience: 6 years
    </p>

    <div id="master-img">
      <%= image_tag("master.jpg")%>
    </div>

</div>

<br>
<br>

<div id="btn-edit">
  <%= link_to mask_path do %>
    <%= image_tag "tutor.png" %>
  <% end %>
</div>
