<!-- switch.html.erb -->
  <br><br><br>
<div class="text-center">
  <i class="fas fa-user-graduate" style="font-size:3em;opacity:.7"></i>
  <h2>STUDENT</h2>
  <%= link_to "Sign Up", new_student_registration_path, class: "btn btn-success" %>
  <%= link_to "Log In", new_student_session_path, class: "btn btn-primary" %>

  <br><br>
  <hr style="width:60%">
  <br><br>

   <i class="fas fa-chalkboard-teacher" style="font-size:3em;opacity:.7"></i>
  <h2>TUTOR</h2>
  <%= link_to "Sign Up", new_tutor_registration_path, class: "btn btn-success" %>
  <%= link_to "Log In", new_tutor_session_path, class: "btn btn-primary" %>
</div>
