<!-- Dynamic Head Title -->
<% provide(:title, 'Subjects') %>

<h1>Aviable Subject:</h1>

<%= link_to "<< Back", lessons_path, class:"btn btn-primary"  %>

<%= link_to "Create Subject", new_subject_path, class:"btn btn-success" %>

<br><br>
<ul>
  <% @subjects.each do | subject | %>
    <li><%= link_to subject.name, subject_path(subject) %></li>
  <% end %>
</ul>
