<!-- Dynamic Head Title -->
<% provide(:title, 'Subject') %>


<h1>Subject</h1>

<h2><%= @subject.name %></h2>
<p><%= @subject.description %></p>
<p>Created by <i class="fas fa-chalkboard-teacher"></i> <%= link_to @subject.tutor.last_name, tutor_path(@subject.tutor) %></p>

<%= link_to "<< Back", subjects_path, class:"btn btn-primary"  %>
