<!-- index.html.erb -->

<% if @lessons %>
<!-- <div class="preloader8">
    <span></span>
    <span></span>
</div> -->
  <div class="small-card" style="background: #fff;">
    <div class="info left-info">
      <div id="status">
        SCHEDULE
      </div>
      <div id="day-number">
        7
      </div>
      <div id="day-week">
        TUE
      </div>
    </div>
    <div class="info center-info">
      <div id="tutor-name">
        Dr. Kusrt Waisman
      </div>
      <div id="category">
        Geography
      </div>
      <div id="address">
        0 emily club, new Tina, VS9897
      </div>
    </div>
    <div class="info right-info">
      <div id="time">
        6:00 PM
      </div>
      <div id="tutor-icon">
        <%= image_tag "tutorICON.png" %>
      </div>
      <div id="expand-btn">
        <i class="fas fa-angle-down"></i>
      </div>
    </div>
  </div>

<% else %> <!-- NO LESSON  ---------------------------------------------------->

    <div class="wrapper-white">

    <h2 id="welcome" class="font-lighter text-center">
      Welcome<br>
      <%= current_user.first_name if current_user %>
    </h2>

    <%= image_tag "bubble.png", id: "bubble", width: :auto; %>

    <h2 id="first-lesson" class="font-lighter">
      Create your<br>
      first lesson
    </h2>

    <div class="light-btn text-center">
      <%= link_to "Request Lesson", new_lesson_path %>
    </div>

  </div>

<% end %>
