// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials //////////////////////////////////
@import "layouts/index";
@import "components/index";

// @import "pages/index";

// @import "students/index";

// @import "lessons/main";

// @import "documents/import";


// // Flatpickr Calendar /////////////////////////////////
@import "flatpickr/dist/flatpickr.min";
// positioning Flatpickr
div.flatpickr-calendar {
  //top: 36vh !important;
  left: 5vh !important;
}

// BODY ///////////////////////////////////////////////
html {
 // overflow-y: hidden;
}

body {
  min-height:80vh;
  position:relative;
  background: #fafafa;
//  word-wrap: break-word;
//  word-break: break-all;
//  overflow-x: hidden;
  color: #747681;
  letter-spacing: 4px;
  padding-bottom: 50px;
  margin-bottom:10vh
}

hr.style18 {
  //width:  70%;
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  opacity: .4;
}
hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
  opacity: .6;
}


.new_lesson > div {
  margin-bottom: 3vh;
}

// #profileAndLogout {
//   margin-top: -12vh;
// }
 @media screen and (min-width: 600px) { // DESKTOP
// #profileAndLogout {
//   margin-top: 8vh;
// }
//   body {
//     padding-bottom:0 !important;
//   }
//   div.container-fluid {
//     margin-top:0 !important;
//   }
  div[role=navigation] {
    display: none !important;
  }
  footer {
    display: none !important;
  }

 }
