// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

@import "lessons/main";

@import "flatpickr/dist/flatpickr.min";


// TEST backend ////////////////////////////////////////////////
body {
  min-height:80vh;
  position:relative;
  background: #fafafa;
  word-wrap: break-word;
//  overflow-y: hidden;
  overflow-x: hidden;
  color: #747681;
  letter-spacing: 4px;
  padding-bottom: 50px;
}

hr.style18 {
  //width:  70%;
  height: 30px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  opacity: .2;
}
hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
  opacity: .2;
}
