// _index.scss LESSONS

// NO LESSON //////////////////////////
.wrapper-white {
  background:#fff;
  height:80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#welcome {
}

#bubble {
    display: block;
    width: 50vw;
    height: auto;
}

.font-lighter {
  font-weight: lighter;
}

.light-btn {
  padding: 5%;
  border: 2px solid #95ADEC;
  border-radius: 30px;
}
///////////////////////////////////////
// WITH LESSONS ///////////////////////

.small-card {
//  border: 2px solid black;
  box-shadow: 0 1px 2px darkgrey;
  display: flex;
  color: $flexi;
  min-height: 20vh;
  margin: -2% -4% !important;
  padding:2%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: .8em;
  padding: 2%;
  letter-spacing: 0 !important;

  #status {
//    font-weight: lighter;
  }
  #day-number {
    font-size:3em;
    font-weight: bold;
  }
  #day-week {
    font-weight: bold;
  }
  #tutor-name {
    font-weight: bold;
    letter-spacing: 2px;
  }
  #tutor-icon {
    img {
      height: 8vh;
    }
  }
}

.center-info {
  width: 50% !important;
}
.left-info {
  width: 25% !important;
}
.right-info {
  width: 25% !important;
  i {
    //box-shadow: 0px 2px 3px darkgrey;
    font-size: 2em;
  }
}

///////////////////////////////////////
// PRELOADER //////////////////////////
.preloader8 {
   width:30px;
   height:30px;
   display:inline-block;
   padding:0px;
   text-align:left;
}
.preloader8 span {
   position:absolute;
   display:inline-block;
   width:30px;
   height:30px;
   border-radius:100%;
   background:#000000;
   -webkit-animation:preloader8 1.6s linear infinite;
   animation:preloader8 1.6s linear infinite;
}
.preloader8 span:last-child {
   animation-delay:-0.8s;
   -webkit-animation-delay:-0.8s;
}
@keyframes preloader8 {
   0% {transform: scale(0, 0);opacity:0.5;}
   100% {transform: scale(1, 1);opacity:0;}
}
@-webkit-keyframes preloader8 {
   0% {-webkit-transform: scale(0, 0);opacity:0.5;}
   100% {-webkit-transform: scale(1, 1);opacity:0;}
}
///////////////////////////////////////
// CARD COLLAPSE///////////////////////
.my-card{
  transition-timing-function: ease-out;
  overflow: hidden;
}
.my-expand{
  transition: transform 300ms;
  transition-timing-function: ease-in-out;
}
.flipped{
  transform: rotate(180deg);
}
.big{
  height: 400px;
}
.my-content{
  margin: 5% -4%;
  background: #fff;
  transition: opacity 200ms;
}
.my-hidden{
  opacity: 0;
}
///////////////////////////////////////
